body {
    background-color: #1c273a;
    color: white;
    /* #29ffff */
}
.title, .loading {
    text-align: center;
    font-size: 6vmin;
}
.messageForm {
    text-align: center;
    width: 50%;
    margin: 0 auto;
}